@font-face
{
font-family: Font;
src: url('../Fonts/font.ttf'); /* IE9+ */
}
@font-face
{
font-family: WhiteboardFont;
src: url('../Fonts/ComingSoon.ttf'); /* IE9+ */
}
#git{
	background: rgba(0,0,0,0.6);
   	width: 60%;
    height: 40px;
    font-size: 17px;
    position: fixed;
    bottom: 0px;
    left: 20%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    border: solid white 2px;
      border: solid white 2px;
}
#git p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
body{
	font-family: Font;
	color: rgba(40,40,40,1);
	//background: rgba(250,250,250,1);
	background: url('../Images/mesh.png');
}
#content{
	border-radius: 2px;
	width: 85%;
	background: white;
	margin-left: auto;
	margin-right: auto;
	min-height: 600px;
	padding: 50px 50px 50px 50px;
}

.expand{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfcfc 0%,#eaeaea 100%); /* W3C */
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding: 10px 10px 10px 10px;
	overflow: hidden;
	font-size: 12px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px black;
	width: 70%;
	height: 40px;
}
#expandtitle{
	font-size: 20px;
	margin-top: 7px;
	cursor: pointer;
}
.upload{
	text-indent:  20px;
}
#IDPanel{
	font-size: 94%;
	color: white;
	padding-left: 4px;
	padding-right: 4px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 22px;
	background: url('../Images/mesh.png');
	text-align: center;
	padding-top: 10px;
	position: absolute;
	margin-top: -1px;
	right: 10%;
	top: 1.5%;
	overflow: hidden;
	width: 120px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}
#IDPanel li{
	font-size: 70%;
	list-style: none;
	text-decoration: none;
}
.unitgrade{
	border-radius: 50%;
	border: #383838 2px solid;
	width: 45px;
	height: 30px;
	padding-top: 10px;
	color: white;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	float: right;
	margin-right: 0px;
	margin-top: 0px;
}
#unitp{
	background: #24bf2c; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #24bf2c 0%, #00fc10 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#24bf2c), color-stop(100%,#00fc10)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #24bf2c 0%,#00fc10 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #24bf2c 0%,#00fc10 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #24bf2c 0%,#00fc10 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #24bf2c 0%,#00fc10 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24bf2c', endColorstr='#00fc10',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#unitu{
	background: #b54848; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #b54848 0%, #ff0000 99%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b54848), color-stop(99%,#ff0000)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #b54848 0%,#ff0000 99%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #b54848 0%,#ff0000 99%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #b54848 0%,#ff0000 99%); /* IE10+ */
background: radial-gradient(ellipse at center,  #b54848 0%,#ff0000 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b54848', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#IDPanel:Hover{
	height: 130px;
}
#IDPanel:Hover, .expandtitle:Hover{
	cursor: pointer;
}
a:link, a:visited{
	color: FC8D0F;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#IDPanel a:link{
	color: white;
}
#IDPanel a:visited{
	color: white;
}
.summary{
    font-size: 75%;
    margin-left:  auto;
    margin-right: auto;
    width: 60%;
    min-height: 100px;
    padding: 10px 10px 10px 10px;
}